@use "../abstracts/" as *;

.contact-form {
  display: grid;
  gap: $size-8;

  @include mq(small) {
    grid-template-columns: 1fr;
  }

  @include mq(medium) {
    grid-template-columns: 1fr 1fr;
  }

  .form-group {
    display: grid;
  }

  .button {
    grid-column-end: -1;
    justify-self: end;
    margin-block-start: $size-4;
  }

}